$commonColor: #1698d9;
$hoverCommonColor: lighten($commonColor, 5%);
$selectedColor: #d91667;
$hoverSelectedColor: lighten($selectedColor, 5%);
$disabledColor: #b3b3b3;
$blackColor: #000;
$whiteColor: #fff;
